shared_database_path ~/Dropbox/work-flow/sioyek/share.db
startup_commands toggle_smooth_scroll_mode
new_command _download_paper python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}" "%{selected_text}" [Your Email, If Using Unpaywall]
control_click_command _download_paper
new_command _dual_panelify python -m sioyek.dual_panelify /usr/bin/sioyek "%{file_path}" "%{command_text}"
new_command _embed_annotations python -m sioyek.embed_annotations /usr/bin/sioyek "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _extract_highlights python -m sioyek.extract_highlights /usr/bin/sioyek "%{local_database}" "%{shared_database}" "%1" %{zoom_level}
new_command _translate_selected_text python -m sioyek.translate /usr/bin/sioyek "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate /usr/bin/sioyek "%{line_text}"
new_command _translate_selected_text python -m sioyek.translate /usr/bin/sioyek "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate /usr/bin/sioyek "%{line_text}"
new_command _import_annotations python -m sioyek.import_annotations /usr/bin/sioyek "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _remove_annotations python -m sioyek.remove_annotation /usr/bin/sioyek "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}"
new_command _add_text python -m sioyek.add_text /usr/bin/sioyek "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}"
new_command _add_red_text python -m sioyek.add_text /usr/bin/sioyek "%{local_database}" "%{shared_database}" "%{file_path}" "%{selected_rect}" "%{command_text}" fontsize=5 text_color=255,0,0

